body{
  text-align: center;
  background-color: #000000;
}
#kop{
  color: #00ff00;
}
#img{
  display: block;
  margin: auto;
  height: 400px;
  width: 400px;
  transition: ease 5s;
}
#img:hover{
  transition: ease-in 1s;
  border-radius: 30%;
    transform: scale3d(2, 2, 2) rotate(400deg);
}

.validate-con{
  position: absolute;
    bottom: 50%;
    margin-left: 89%;
}
