body{
text-align: center;
background-color: #000000;

}
#kop{
  color: #00ff00
}
#img_1{
  display: block;
  margin: auto;
  height: 400px;
  width: 400px;
  transition: ease 5s;
}
#img_1:hover{
  transition: ease-in 1s;
  border-radius: 30%;
    transform: rotate(400deg);
    transform: scale3d(2, 2, 2);
}
#validatie{
  display: flex;
align-items: center;
height: 420px;
float: right;

}
body{
text-align: center;
background-color: #000000;

}
#kop{
  color: #00ff00
}
#img_1{
  display: block;
  margin: auto;
  height: 400px;
  width: 400px;
  transition: ease 5s;
}
#img_1:hover{
  transition: ease-in 1s;
  border-radius: 30%;
    transform: rotate(400deg);
    transform: scale3d(2, 2, 2);
}



  .q img{
    width: 400px;
    height: 400px;
  }
  .w{

  align-items: center;
  height: 400px;
  }
.q{

width: 10%;
  text-align: center;
}
.qq {
  display: inline-block;
}
